<!doctype html>
<html lang="en">
<body>
<p>Page view count:
<% if (pageCountMessage) { %>
   <span class="code" id="count-value"><%=pageCountMessage%></span>
   </p>
<% } else { %>
   <span class="code" id="count-value">No database configured</span>
   </p>
<%} %>

<script src="http://localhost:8080/sockets.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:8080');
  socket.on('news', function (data) {
    console.log(data);
    console.log("hello");
    socket.emit('my other event', { my: 'data' });
  });
</script>
</body>
</html>
